body {
    font-family: 'Ubuntu', sans-serif;
}

.title {
    min-height: 15vh;
}

thead {
    font-size: 1.3em;
    
}

tbody {
    font-size: 0.9em;
}

.growth {
    color:forestgreen;
}

.decrease {
    color:crimson;
}

.balance {
    color: darkcyan;
}


.chosen1 {
    font-size: 2.5em;
    color: forestgreen;
}

.chosen2 {
    font-size: 2.5em;
    color: mediumblue;
}