body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #828b90;
}

header {
    min-height: 10rem;
}

.section1 {
    min-width:100vh;
}
.title {
    min-height: 15vh;
}

thead {
    font-size: 1.3em;
    
}

tbody {
    font-size: 0.9em;
}

.growth {
    color:forestgreen;
}

.decrease {
    color:crimson;
}

.balance {
    color: darkcyan;
}


.chosen1 {
    font-size: 2.5em;
    color: forestgreen;
}

.chosen2 {
    font-size: 2.5em;
    color: mediumblue;
}

button {
    margin-right:1em;
}

.resultBox {
    height: 10rem;
    background-color: #585e61;
    border-radius: 5px 5px 5px 5px;
    min-height: 3rem;
    font-size: 2em;
    color:aliceblue;
    span {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.error {
    background-color: #d9534f;
}

footer {
    min-height:40px;
    background-color: #222222;
        .row {
            margin-bottom: 0;
        }
            .footerRow {
                //height: 2em;
                background-color: #222222;
                a {
                    text-decoration: none;
                    font-size: 0.6rem;
                    color: #9d9d9d; 
                }
            }
}