body {
    font-family: 'Ubuntu', sans-serif;
    min-width: 280px;
}

header {
    min-height: 10rem;
    background-color: #003f63;
}

.section1 {
    min-height:100vh;
    background-color: #003f63;
    color: #ffffff;
}

.title {
    min-height: 15vh;
}

thead {
    font-size: 1.3em;
    
}

tbody {
    font-size: 0.9em;
}

.growth {
    color:forestgreen;
}

.decrease {
    color:crimson;
}

.balance {
    color: darkcyan;
}


.chosen1 {
    font-size: 2.5em;
    color: forestgreen;
}

.chosen2 {
    font-size: 2.5em;
    color: mediumblue;
}

button {
    margin-right:1em;
}

.resultPar {
    height: 10rem;
    background-color: #585e61;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 0.5em;
    border: 1px solid white;
    min-height: 3rem;
    font-size: 2em;
    color:aliceblue;
        span {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
            span:first-child {
                span:last-child {
                    color: #d9534f;
                    font-weight: 700;
                }
            }
                span:last-child {
                    span:last-child {
                        color: #32ea32;
                        font-weight: 700;
                    }
                }
}

.error {
    background-color: #d9534f;
}

footer {
    min-height:40px;
    background-color: #fece08;
        .footerRow {
            background-color: #fece08;
            a {
                text-decoration: none;
                font-size: 0.6rem;
                font-weight: 600;
                color: #003f63; 
            }
        }
}

/* MEDIA QUERY */

@media (max-width: 440px) {
    .tableDate span {
        font-size: 0.8em;
    }
}

@media (max-width: 360px) {
    .tableDate span {
        font-size: 0.6em;
    }
}